.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98%;
  width:  4%;
  top: 0;
  left: 0;
  background:#fff;
  z-index: 10;
  margin: 10px;
  border-radius:8px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.nav h4{
  display: none;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.nav.active{
  width: 20%;
}

.nav.active h4{
  padding-left: 50px;
  margin-top: 12px;
  display: flex;
  visibility: visible;
  opacity: 1;
}

.nav a{
  text-decoration: none;
  color: black;
  height:50px;
  width:auto;
  border-radius: 8px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  background: rgb(100, 100, 214);
}
.nav i{
  position: sticky;
  padding-left: 15px;
  align-self: center;
}